<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/change}" th:object="${user}">
  <input type="hidden" th:field="*{id}"/>
  <input type="hidden" th:field="*{passwordChanged}" th:value="false"/>
  <label for="username"> Enter username:</label>
  <input type="text" th:field="*{username}" id="username">
  <br/>
  <label for="password"> Enter password:</label>
  <input type="text" th:field="*{password}" id="password" onchange="document.getElementById('passwordChanged').value = true;">
  <br/>
  <label for="roles"> Select roles:</label>
  <select multiple="multiple" th:field="*{roles}">
    <option th:each="role : ${roles}" th:value="${{role}}" th:text="${role.name()}" id="roles"></option>
  </select>
  <br/>
  <input type="submit" value="Update"/>
</form>

</body>
</html>