<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div>
  <th:block th:each="user : ${users}">
    <h1 th:text="${user}"></h1>
    <a th:href="@{change(username=${user.username})}" class="btn btn-primary">Change User</a>
  </th:block>
  <br/>
  <a href="/users/add">Add User</a>
  <br/>
  <a href="/users/delete">Delete User</a>
  <a href="/logout">Log out</a>
</div>
</body>
</html>