<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a id="navbarBrand" class="navbar-brand">
            <span></span>
            <span>
                <span th:text="' roles: '"></span>
                <span></span>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <span class="navbar-text">
                <a th:href="@{/logout}" class="btn btn-outline-danger">Log out</a>
            </span>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#user" class="list-group-item list-group-item-action active" data-bs-toggle="tab">User</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content" id="myFirstTabContent">
                <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <h1>User Informational Page</h1>
                    <h2>About user</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span id="user-id"></span></td>
                            <td><span id="user-username"></span></td>
                            <td><span id="user-roles"></span></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function fetchCurrentUserAndPopulateTable() {
            fetch('/admin/currentUser')
                .then(response => response.json())
                .then(user => {
                    // После успешного получения данных о текущем пользователе заполняем таблицу
                    populateUserTable([user]);
                })
                .catch(error => {
                    console.error('Ошибка при получении данных о текущем пользователе:', error);
                });
        }

        // Функция для заполнения таблицы данными о пользователе
        function populateUserTable(users) {
            const tbody = document.querySelector('#user tbody');
            tbody.innerHTML = ''; // Очищаем содержимое tbody перед заполнением

            users.forEach(user => {
                const row = document.createElement('tr');

                // Создаем ячейки для каждого столбца и заполняем их данными из объекта пользователя
                const idCell = document.createElement('td');
                idCell.textContent = user.id;
                row.appendChild(idCell);

                const usernameCell = document.createElement('td');
                usernameCell.textContent = user.username;
                usernameCell.classList.add('username-cell'); // Добавляем класс .username-cell
                row.appendChild(usernameCell);

                const rolesCell = document.createElement('td');
                // Преобразуем массив ролей пользователя в строку и заполняем соответствующую ячейку
                rolesCell.textContent = user.roles.map(role => role.authority).join(', ');
                row.appendChild(rolesCell);

                // Добавляем строку в таблицу
                tbody.appendChild(row);
            });
        }

        fetchCurrentUserAndPopulateTable();

        fetch('/admin/currentUser')
            .then(response => response.json())
            .then(data => {
                const username = data.username;
                const roles = data.roles.map(role => role.authority).join(', ');
                document.querySelector('#navbarBrand span:nth-of-type(1)').textContent = username;
                document.querySelector('#navbarBrand span:nth-of-type(2)').textContent = roles;
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
    });
</script>

</body>
</html>
